<%= flash.notice %>
<h1>新規登録</h1>
<%= form_with model: @cooking_repertoire, local: true do |form| %>
  <% if @cooking_repertoire.errors.any? %>
    <ul>
      <% @cooking_repertoire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form.text_field :name %>
  <%= form.submit "登録する" %>
<% end %>